@page
@model homework_7_oscardavila09.Pages_Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    <form class="d-flex" role="search" asp-page="./Index" method="get">
        <div class="col-3">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input class="form-control me-2" type="search" name="CurrentSearch" value="@Model.CurrentSearch" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
            @{
                 //alternate sort order
                var firstSort = "first_asc";
                if(Model.CurrentSort == "first_asc")
                {
                   firstSort = "first_desc";
                }
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort" asp-route-PageNum="@Model.PageNum">@Html.DisplayNameFor(model => model.Order[0].CustomerName)</a>
                }
            </th>
            <th>
            @{
                 //alternate sort order
                var secondSort = "second_asc";
                if(Model.NextSort == "second_asc")
                {
                   secondSort = "second_desc";
                }
                <a asp-page="./Index" asp-route-NextSort="@secondSort" asp-route-PageNum="@Model.PageNum">@Html.DisplayNameFor(model => model.Order[0].OrderDate)</a>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ProductOrders)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @foreach(var r in item.ProductOrders!)
                {
                    <p>@Html.DisplayFor(modelItem => r.Product.Name)</p>
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>
        </tr>
        
}
    </tbody>
</table>
<hr />
@{
    // If we are on page 1, prevDisabled will be set to the "disabled" class
    // otherwise, it will be empty. So our previous button will be enabled or disabled based on this logic
    var prevDisabled = "";
    var nextDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
    if (Model.PageNum >= Model.TotalPages)
    {
        nextDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)"asp-route-CurrentSort="@Model.CurrentSort"asp-route-NextSort="@Model.NextSort">Previous</a></li>
        <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)"asp-route-CurrentSort="@Model.CurrentSort"asp-route-NextSort="@Model.NextSort">Next</a></li>
    </ul>
</nav>
